*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 20px;
}
.container >p{
    margin-left: 30px;
    color: rgb(95, 95, 95);
    font-size: 1.3rem;
    font-weight: bold;
}
.navbar ul li{
    list-style: none;
    display: flex;
    gap: 50px;
}
.navbar ul li a{
    color: grey;
    text-decoration: none;
}
.username{
    font-weight: bold;
    padding:15px 25px;
    font-size: 0.7rem;
    border-radius: 10px;
    color: rgb(49, 176, 255);
    background-color: rgb(220, 242, 255);
    margin-right: 30px;
}
.hero{
    margin: 100px 0px 100px 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
h1{
    font-size: 3rem;
    line-height: 1.5;
}
#h-1{
    font-size: 3rem;
    color: rgb(49, 176, 255);
}
p{
    line-height: 1.6;
    font-size: large;
    color: lightgrey;
}
.right img{
    width: 600px;
    height: 500px;
}
button{
    margin-top: 35px;
    padding: 15px 20px;
    background-color: rgb(49, 176, 255);
    color: white;
    border: none;
    border-radius: 10px;
}