* {
    /* border: 1px solid red; */
    margin: 0px;
    /* padding: 0px; */
    /* box-sizing: border-box; */
}

p {
    /* display: inline-block; */
    width: 70%;


}

ul>li>a {

    text-decoration: none;
    text-decoration-style: none;
    letter-spacing: 1px;
    word-spacing: 5rem;

    /* text-align: justify; */
    /* width: 60%; */
    /* display: block; */
    /* height: 78px; */
}

ul {
    list-style: none;
    text-align: end;
    background-color: lightblue;
    padding: 19px;
}

li>a:hover {
    color: white;
}