*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive;
    font-size: 1.2rem;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to right,lightblue, rgb(129, 215, 255),rgb(0, 149, 255),blue, darkblue);
}
.left-text{
    flex-basis: 30%;
}

.right{
    flex-basis: 50%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 120px;

}
.left-text h2{
    color: white;
    font-size: 3rem;
    text-align: center;
}
.left-text p{
    color: white;
    margin-top: 10px;
    text-align: center;
}
.child-imgs{
    background-size: cover;
    background-position: end;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    background-blend-mode: hard-light;
    transition: all 1s ease-in-out;
    cursor: pointer;
}
.child-imgs:hover{
    background-color: #999;
    background-position: top;
    box-shadow: 0 0 #fff;
}
.row-2{
    grid-row: span 2;
}
.col-2{
    grid-column: span 2;
    background-position: center;
}
.nor{
    transition: all 1s ease-in-out;
    background-position: center;
}

/* media query for width <=1024px or max-width: 1024px */

/* @media (width <= 1024px)() */

@media (max-width: 1024px){
    .container{
        flex-direction: column;
    }
    .left-text{
        font-size: 1rem;
        padding: 25px 50px;
        text-align: center;
    }
    .right{
          width: 95%;
          padding: 25px 50px;
    }
      
    .child-imgs{
        grid-row: span 1;
        grid-column: span 3;
    }
}