* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 1.5rem;


}

.navbar {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.logo img {
    width: 2.2rem;
    height: 2.2rem;
}

.links {
    display: flex;
    gap: 4rem;
    align-items: center;
    list-style: none;
}

.links li a {
    font-size: 1.1rem;
    color: whitesmoke;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: all 0.3s ease-in;
}

.links li {
    transition: all 0.3s ease-in;
}

.links li:hover {
    transform: translateY(-2px);

}

.links li a:hover {
    background-color: #87A8B6;
}

.header {
    background: linear-gradient(to right, rgb(193, 239, 255), #6D9EA1, #3A7787);
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 1200;
}

.home {
    height: 100vh;
    margin-top: 85px;
    background: linear-gradient(rgba(138, 138, 138, 0.5), #62606080), url(https://images.unsplash.com/photo-1602088113235-229c19758e9f?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHZhY2F0aW9ufGVufDB8fDB8fHww) center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-content h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #3f6265;
}

.section-content p {
    font-size: 1.2rem;
    margin-bottom: 4.5rem;
    text-align: center;
    color: #233b3d;
}

.btn {
    transition: all 0.3s ease-in;
    font-size: 1.2rem;
    padding: 0.8rem 4rem;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
}

.btn-1 {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn-primary {
    background-color: #4B8286;
    color: whitesmoke;
}

.btn-primary:hover {
    background-color: #87A8B6;
    transform: translateY(-2px);

}

.btn-secondary {
    background-color: transparent;
    color: whitesmoke;
    border: 2px solid white;
}

.btn-secondary:hover {
    background-color: white;
    color: #2d4d4f;
    transform: translateY(-2px);

}

.page2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.services {
    padding: 7rem 0;
}

.right-images {
    flex-basis: 50%;
    display: grid;
    gap: 10px;
    grid-auto-rows: 120px;
    grid-template-columns: repeat(2, 1fr);
}

.col {
    grid-column: span 2;
    background-position: top;
}

.row {
    grid-row: span 2;
    background-position: top;

}

.box-img {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-size: cover;
    background-position: end;
    background-color: rgb(110, 81, 81);
    background-blend-mode: hard-light;
}

.box-imgs:hover {
    transition: all 1s ease-in-out;
    background-position: center;
    transform: translateY(-3px);
}

.page-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
}

.left h2 {
    font-size: 3rem;
    color: #3F6265;
    margin-bottom: 1.5rem;
}

.room-1 {
    width: 100%;
    padding: 1rem 1.5rem 1rem 1rem;
    border: 2px solid grey;
    border-radius: 8px;
    margin-bottom: 3rem;
    margin-top: 3rem;
    text-align: left;
}
.room-1:hover{
    transform: translateY(-2px);
    
}

.room-2 {
    width: 100%;
    padding: 1rem 1.5rem 1rem 1rem;
    border: 2px solid grey;
    border-radius: 8px;
}
.bed img{
    width: 27rem;
}
