*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    padding: 45px;
}

h1{
    text-align: center;
}

h2{
    background-color: var(--backg-color);
}

.box{
    padding: 20px;
    --backg-color: red
}

h4{
    padding: 45px;
    background-color: var(--backg-color , pink);
}